<div class="page-header">
    <span>Events</span>
    <hr class="underline">
</div>
<div class="event-holder">
    <form>
    <div class="event-holder-heading" >
        <div>
            <span class="text-bold">{{eventCount}} </span> <span>Upcoming Events</span> 
        </div>
        <div>
            <input id="date" type="date" [formControl]="date" (change)="filterEvents()">
            <span class="date-reset-btn" (click)="refreshData()">x</span>
        </div>
    </div>
    <div class="event-country">
        <div class="text-bold">Ireland</div>
        <div><span>{{eventCount}}</span> Events</div>
        
    </div>
    </form>
    <div class="event-card" *ngFor="let event of eventData">
        <div class="event-content">        
        <div class="event-date">
            <div>{{event.date | date:'MMM'}}</div>
            <div class="event-day">{{event.date | date:'d'}}</div>
            <div>{{event.date | date:'yyyy'}}</div>
        </div>
        <div>
            <div>{{event.date | date: 'EEEE - HH:mm'}}</div>
            <div class="event-day">{{event.location}}</div>
            <div>{{event.name}}</div>
        </div>
    </div>
        <button type="button" class="btn btn-primary" [routerLink]="['/checkout', event.id]">Find Tickets</button>
    </div>
</div>